.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #dae6f0;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}

.h6 {
    padding: 10px;
    margin-top: 150px;
}

.reactSelect {
    color: black;
}

.header {
    background-color: #d3e3f0;
}

.logo {
    width: 65px;
}

.headerspan {
    color: #476bf0;
    font-weight: 400;
    font-size: 35px;
    font-weight: bold;

}

.headerofrow{
    color: #102f94;
    padding: 10px;
}